body{
    text-align: center;
    
}
#mg{
    height: 270px;
    width: 400px;
    
}
input{
    height: 20px;
    width: 500px;
}
#btna{
    text-align: left;
    height: 20px;
    width: 120px;
    background-color: #f6f6f6;
}
#btn{
    height: 20px;
    width: 150px;
    background-color: #f6f6f6;
    color: #222222;
}
img{
    /* width: 100px;
    height: 100px; */
    float: right;
    padding-right: 50px;
    
}
p{
    font-size: medium;
}
h1{
    color: black;
    font-size: large;
    
}
button{
    color: blue;
}
#lk{
    height: 100px;
    width: 100px;
}
h4{
    font-size: 60px;
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    color: black;
}
#pr{
    height: 80px;
    width: 80px;
}
li{
    color: red;
}